.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    list-style-type: none;
    position: absolute;
    right: 5em;
}

.menu-list li {
    margin-bottom: 2em;
}

.menu-hide {
    display: none;
}

.menu-icon {
    cursor: pointer;
}

.img-top-desk {
    display: none;
}

.img-top {
    width: 90vw;
    margin-top: 1em;
    position: relative;
    left: 0.55em;
}