** {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    z-index: 5000;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: -5vh;
    background: hsl(36, 100%, 99%);
    width: 55vw;
    height: 103vh;
}

.menu-list li {
    margin-bottom: 2em;
}

.menu-icon {
    cursor: pointer;
    z-index: 50000;
}

.img-top-desk {
    display: none;
}

.img-top {
    width: 90vw;
    margin-top: 1em;
    position: relative;
    left: 0.55em;
}

.menu-hide {
    display: none;
    transition: ease-in 1.5s display;
}

.article-preview,
.title-para {
    color: hsl(236, 13%, 42%);
}

.more {
    background: hsl(5, 85%, 63%);
    border: none;
    padding: 1em 2.5em;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.middle {
    background: hsl(240, 100%, 5%);
}

.section-title {
    color: hsl(35, 77%, 62%);
}

.article-title,
.more {
    color: hsl(36, 100%, 99%);
}

.article-separator {
    width: 88%;
}

.article-preview,
.article-title,
.section-title {
    position: relative;
    left: 1em;
}

.section-title {
    padding-top: 1em;
}

.article-preview {
    width: 85%;
}

#last {
    padding-bottom: 1em;
}

.article-card-lower,
.article-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 15px;
}

.article-card-lower {
    flex-direction: row;
    margin-top: 2em;
}

.article-card-lower img {
    width: 33.33%;
}

.num {
    font-size: 32px;
}

.article-lower-preview,
.num {
    color: hsl(236, 13%, 42%);
    width: 65%;
}

.article-column {
    position: relative;
    bottom: 2em;
    left: 0.45em;
}

.article-lower-title {
    position: relative;
    bottom: 2.65em;
}

.article-lower-preview {
    position: relative;
    bottom: 4.5em;
}

@media (min-width: 1440px) {

    .logo-img {
        position: relative;
        left: 9em;
        bottom: 20em;
    }

    .img-top-desk {
        display: initial;
        margin-top: 4.5em;
        position: relative;
        width: 55vw;
        left: 10vw;
        bottom: 85vh;
    }

    .img-top {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .menu-hide {
        display: initial;
    }

    .menu-list,
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu-list {
        font-size: 19px;
        position: relative;
        top: -15.4em;
        right: 1em;
        background: initial;
    }

    .menu-list li {
        cursor: pointer;
    }
    .middle {
        width: 25%;
        position: relative;
        left: 70vw;
        bottom: 190vh;
    }

    .article-card {
        padding-bottom: 2.5em;
    }

    .section-title {
        font-size: 42px;
    }

    .article-title {
        font-size: 22px;
        cursor: pointer;
    }

    .article-preview {
        font-size: 18px;
    }

    .title-txt {
        font-size: 82px;
        width: 35.6%;
        position: relative;
        left: 10vw;
        bottom: 90vh;
    }

    .open-lower {
        width: 30%;
        font-size: 20px;
        position: relative;
        left: 40vw;
        bottom: 128vh;
    }

    .lower {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        bottom: 180vh;
        left: 2vw;
    }

    .article-card-lower img {
        width: 30%;
    }

    .num {
        position: relative;
        left: 2em;
        font-size: 35px;
    }

    .article-lower-title {
        font-size: 22px;
        cursor: pointer;
    }

    .article-lower-preview {
        font-size: 18px;
    }

    .article-lower-title, .article-lower-preview {
        left: 3em;
    }
}
